$primary: #f1e9db;
$secondary: #07020d;
$third: darkgrey;

.tableContainer {
	background-color: $primary;
	height: 100vh;
	width: 100vw;
	overflow-x: auto;
	table {
		color: $secondary;
		width: 95%;
		border-collapse: collapse;
		border: 1px solid $secondary;
		margin: 1em auto;
	}

	th {
		background: #333;
		color: white;
		font-weight: bold;
	}

	td,
	th {
		padding: 6px;
		border: 1px solid $secondary;
		text-align: left;
	}

	// @media only screen and (max-width: 760px),
	// 	(min-device-width: 768px) and (max-device-width: 1024px) {
	// 	table,
	// 	thead,
	// 	tbody,
	// 	th,
	// 	td,
	// 	tr {
	// 		display: block;
	// 	}
	// 	thead tr {
	// 		position: absolute;
	// 		top: -9999px;
	// 		left: -9999px;
	// 	}
	// 	td {
	// 		border: none;
	// 		position: relative;
	// 		padding-left: 50%;
	// 	}

	// 	td:before {
	// 		/* Now like a table header */
	// 		position: absolute;
	// 		/* Top/left values mimic padding */
	// 		top: 6px;
	// 		left: 6px;
	// 		width: 45%;
	// 		padding-right: 10px;
	// 		white-space: nowrap;
	// 	}
	// }
}
